body {
    background-color: #fff;
    font-family:Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #9A9A9A;
}
p {
    margin-bottom: 8px;
    margin-top: 3px;
}
li {
    list-style: none;
}
h2 {
    font-size: 18px;
    color: #0097CC;
    line-height: 1.8;
    margin-bottom: 0;
    margin-top: 0;
}
ul {
    background-color: #F4F4F4;
    width: 580px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 30px 20px 20px;
    counter-reset: list;
    margin: auto;
}
li {
    position: relative;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 3px;
    border-top: 1px solid #e1e1e1;

}
li:before {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    top: 7px;
    left: 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 50%;
    background-color: #1B9BC2;
    color: #fff;
    text-align: center;
    font-size: 14px;


}
li:first-child {
    border-top: none;
}
